<header>

  <!-- top bar begin -->
  <div id="top-bar">
     <div class="container">
        <div class="pull-left left-top-bar">
           <div id="lang">
              <ul class="list-inline hidden-xs">
                 <li>
                    <a href="#" class="active">English</a>
                 </li>
                 <li>
                    <a href="#">French</a>
                 </li>
                 <li>
                    <span></span>
                 </li>
              </ul>
              <div class="dropdown dropdown-top-list visible-xs">
                 <a  href="#" data-toggle="dropdown" title="">
                    English <span class="caret"></span>
                 </a>
                 <div class="dropdown-menu dropdown-top-menu">
                    <span class="dropdown-triangle-up"></span>
                    <ul class="dropdown-top-menu-list">
                       <li><a href="#">French</a></li>
                       <li><a href="#">German</a></li>
                    </ul>
                 </div>
              </div>
           </div>
           <div id="currencies">
              <ul class="list-inline hidden-xs">
                 <li>
                    <a href="#" class="active">USD</a>
                 </li>
                 <li>
                    <a href="#">EUR</a>
                 </li>
              </ul>
              <div class="dropdown dropdown-top-list visible-xs">
                 <a  href="#" data-toggle="dropdown" title="">
                    USD <span class="caret"></span>
                 </a>
                 <div class="dropdown-menu dropdown-top-menu">
                    <span class="dropdown-triangle-up"></span>
                    <ul class="dropdown-top-menu-list">
                       <li><a href="#">EUR</a></li>
                       <li><a href="#">AUD</a></li>
                    </ul>
                 </div>
              </div>
           </div>
           <div id="top-contacts">
              <ul class="list-inline">
                 <li class="hidden-xs">
                    <i class="icon-call-in"></i>
                    <span>+ 1 (800) 2364 332 23 16</span>
                 </li>
                 <li class="hidden-xs">
                    <a href="your@email.com">
                       <i class="icon-envelope"></i>
                       <span class="hidden-xs">your@email.com</span>
                    </a>
                 </li>
              </ul>
           </div>
        </div>
        <div class="pull-right">
           <div id="user-top-bar">
              <ul class="list-inline">
                <span *ngIf="isLoggedIn"><b>Hi {{fullName}} </b></span>
                 <li class="btn-group">
                    <a href="#" class="pm_item visible-xs">
                       <i class="icon-bag"></i> (2)
                    </a>
                 </li>
                 <li class="btn-group dropdown">
                    <button *ngIf="!isLoggedIn" type="button" class="pm_item" style="background: none;border: 0;" title="login" (click)="login()">
                       <i class="icon-login"></i>
                       <span class="hidden-sm hidden-xs">Login</span>
                    </button>
                    <button *ngIf="isLoggedIn" type="button" class="pm_item" style="background: none;border: 0;" title="login" (click)="logout()">
                      <i class="icon-logout"></i>
                      <span class="hidden-sm hidden-xs">Logout</span>
                   </button>
                    <!-- <div class="dropdown-menu dropdown-menu-right" role="menu">
                       <span class="dropdown-triangle-up"></span>
                       <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
                       <div class="dropdown-head">
                          <h4 class="pull-left">Sign in</h4>
                       </div>
                       <div class="dd-wrapper">
                          <div id="dd-social-login">
                             <div class="title"><span>Sign in using</span></div>
                             <a href="#" class="btn facebook-btn"><i class="social_facebook "></i>FACEBOOK</a>
                             <a href="#" class="btn twitter-btn"><i class="social_twitter"></i>TWITTER</a>
                          </div>
                          <div id="dd_login">
                             <form action="/" method="post">
                                <div class="required form-group">
                                   <input type="text" name="email" placeholder="Email / Login" class="placeholder-fix">
                                   <i class="icon_mail field-icon"></i>
                                </div>
                                <div class="required form-group">
                                   <input type="password" name="password" placeholder="Password" class="placeholder-fix">
                                   <i class="icon_lock field-icon"></i>
                                </div>
                                <div class="form-group">
                                   <input id="remember" class="stl" type="checkbox" value="1" name="remember">
                                   <label class="stl" for="remember"><span></span>remember me</label>
                                </div>
                                <div class="form-group text-center">
                                   <button type="button" class="btn btn-sm btn-third-col">Login</button>
                                </div>
                                <div class="text-center"><a href="coming-soon.html" class="active">Foget your password?</a></div>
                                <div class="dd-delimiter"></div>
                                <div class="form-group text-center">
                                   <button type="button" class="btn btn-sm btn-sec-col">Register</button>
                                </div>
                             </form>
                          </div>
                       </div>
                    </div> -->
                 </li>
                 <li *ngIf="isLoggedIn" class="btn-group hidden-xs dropdown">
                    <a href="#" class="pm_item" data-toggle="dropdown" title="Wishlist">
                       <i class="icon-heart"></i>
                       <span class="hidden-sm">Wishlist</span> (<span class="dd-products-count">2</span>)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right larger" role="menu" title="Compare Products">
                       <span class="dropdown-triangle-up"></span>
                       <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
                       <div class="dropdown-head">
                          <h4 class="pull-left">My Wishlist</h4>
                       </div>
                       <div class="dd-wrapper">
                          <div class="dd-list-empty">There is no product in whishlist!</div>
                          <div id="wishlist-product-group" class="dropdown-product-list">
                             <div class="dd-product-group" id="pr1">
                                <div class="dd-product-box pull-left">
                                   <a href="#" title="product name">
                                      <img src="../../assets/images/pr_2-small.jpg" alt="product name">
                                   </a>
                                </div>
                                <div class="dd-product-desc pull-left">
                                   <a class="title">Beautiful Fit Velvet Sweater For Him</a>
                                   <div class="qty">1 x <span class="active">$700.00</span></div>
                                   <button type="button" class="btn btn-sm btn-third-col">Add to Cart</button>
                                   <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                                </div>
                             </div>
                             <div class="dd-product-group" id="pr2">
                                <div class="dd-product-box pull-left">
                                   <a href="#" title="product name">
                                      <img src="../../assets/images/pr_3-small.jpg" alt="product name">
                                   </a>
                                </div>
                                <div class="dd-product-desc pull-left">
                                   <a class="title">Beautiful Fit Velvet Sweater For Her</a>
                                   <div class="qty">1 x <span class="active">$800.00</span></div>
                                   <button type="button" class="btn btn-sm btn-third-col">Add to Cart</button>
                                   <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                                </div>
                             </div>
                             <div class="text-center clear-all-btn">
                                <a href="#" class="close-btn"><i class="icon_close"></i><span>Clear all</span></a>
                             </div>
                          </div>
                          <a href="wishlist.html" class="btn btn-md btn-third-col btn-w100">Go to Wishlist</a>
                       </div>
                    </div>
                 </li>
                 <li class="btn-group hidden-xs dropdown">
                    <a href="#" class="pm_item" data-toggle="dropdown">
                       <i class="icon-shuffle"></i>
                       <span class="hidden-sm">Compare</span> (<span class="dd-products-count">2</span>)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right larger" role="menu">
                       <span class="dropdown-triangle-up"></span>
                       <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
                       <div class="dropdown-head">
                          <h4 class="pull-left">Compare List</h4>
                       </div>
                       <div class="dd-wrapper">
                          <div class="dd-list-empty">There is no product to compare!</div>
                          <div id="compare-product-group" class="dropdown-product-list">
                             <div class="dd-product-group" id="pr3">
                                <div class="dd-product-box pull-left">
                                   <a href="#" title="product name">
                                      <img src="../../assets/images/pr_2-small.jpg" alt="product name">
                                   </a>
                                </div>
                                <div class="dd-product-desc pull-left">
                                   <a class="title">Beautiful Fit Velvet Sweater For Him</a>
                                   <div class="qty">1 x <span class="active">$700.00</span></div>
                                   <button type="button" class="btn btn-sm btn-third-col">Add to Cart</button>
                                   <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                                </div>
                             </div>
                             <div class="dd-product-group" id="pr4">
                                <div class="dd-product-box pull-left">
                                   <a href="#" title="product name">
                                      <img src="../../assets/images/pr_3-small.jpg" alt="product name">
                                   </a>
                                </div>
                                <div class="dd-product-desc pull-left">
                                   <a class="title">Beautiful Fit Velvet Sweater For Here</a>
                                   <div class="qty">1 x <span class="active">$800.00</span></div>
                                   <button type="button" class="btn btn-sm btn-third-col">Add to Cart</button>
                                   <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                                </div>
                             </div>
                             <div class="text-center clear-all-btn">
                                <a id="clear-compare-products" class="close-btn"><i class="icon_close"></i><span>Clear all</span></a>
                             </div>
                          </div>
                          <a href="compare.html" class="btn btn-md btn-third-col btn-w100">Go to Comparision List</a>
                       </div>
                    </div>
                 </li>
              </ul>
           </div>
        </div>

     </div>
  </div>
  <!-- top bar end -->
  <!-- header bar begin -->
  <div id="header-bar">
     <div class="container">
        <div class="row">
           <div class="col-md-3 top-search-box hidden-sm hidden-xs">
              <form action="/" method="post">
                 <div class="required form-group">
                    <input type="text" name="search_query" placeholder="Search" class="placeholder-fix top-search" autocomplete="off">
                    <button><i class="icon_search field-icon"></i></button>
                 </div>
              </form>
           </div>
           <div id="header-logo" class="col-md-6 col-sm-12">
              <a href="#">
                 <img src="../../assets/images/logo.svg" class="logo center-block hidden-xs" alt="Shop+ - Responsive HTML5 Multipurpose Ecommerce Template">
                 <img src="../../assets/images/logo.svg" class="logo center-block visible-xs hidden-sm" alt="Shop+ - Responsive HTML5 Multipurpose Ecommerce Template">
              </a>
           </div>
           <div class="col-md-3 hidden-sm hidden-xs">
              <div id="shopping-cart-wrapper" class="dropdown">
                 <a href="#" class="shp-ca" data-toggle="dropdown">
                    <div class="s-bag-1">
                       <i class="icon-bag"></i>
                    </div>
                    <div class="s-cart-pan">
                       <div class="s-bag-2">
                          <span class="dd-products-count">2</span> item(s) / <span class="active dd-products-price">$230.00</span>
                       </div>
                    </div>
                 </a>
                 <div class="dropdown-menu dropdown-menu-right larger text-left" role="menu">
                    <span class="dropdown-triangle-up"></span>
                    <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
                    <div class="dropdown-head">
                       <h4 class="pull-left">2 items in the shopping bag</h4>
                    </div>
                    <div class="dd-wrapper">
                       <div class="dd-list-empty">There is no product in shopping cart!</div>
                       <div id="cart-product-group" class="dropdown-product-list">
                          <div class="dd-product-group" id="pr5">
                             <div class="dd-product-box pull-left">
                                <a href="product-page.html" title="product name">
                                   <img src="../../assets/images/pr_2-small.jpg" alt="product name">
                                </a>
                             </div>
                             <div class="dd-product-desc pull-left">
                                <a class="title">Beautiful Fit Velvet Sweater For Him test for longer header test for longer header</a>
                                <div class="qty">1 x <span class="active">$700.00</span></div>
                                <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                             </div>
                          </div>
                          <div class="dd-product-group" id="pr6">
                             <div class="dd-product-box pull-left">
                                <a href="product-page.html" title="product name">
                                   <img src="../../assets/images/pr_3-small.jpg" alt="product name">
                                </a>
                             </div>
                             <div class="dd-product-desc pull-left">
                                <a class="title">Beautiful Fit Velvet Sweater For Here</a>
                                <div class="qty">1 x <span class="active">$800.00</span></div>
                                <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
                             </div>
                          </div>
                          <div class="text-center clear-all-btn">
                             <span class="cart-block-subtotal">
                                Cart Subtotal: $1500.00
                             </span>
                          </div>
                       </div>
                       <div class="row no-gutter">
                          <div class="col-xs-6">
                             <a href="shopping-cart.html" class="btn btn-md btn-third-col btn-w100">View Cart</a>
                          </div>
                          <div class="col-xs-6">
                             <a href="checkout.html" class="btn btn-md btn-third-col btn-w100">Procced to Checkout</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- header bar end -->
  <!-- main menu begin -->
  <div class="top-menu">
     <div class="container">
        <nav class="main-menu">
           <ul class="nav-menu">
              <li class="nav-item">
                 <a href="#"><i class="icon-screen-desktop"></i> Home</a>
                 <div class="sub-nav">
                      <ul class="sub-nav-group">
                          <li class="has-sub-nav">
                             <a href="#"><span>Clothes version</span></a>
                             <div class="sub-nav">
                                <ul class="sub-nav-group">
                                   <li><a href="home-1-clothes.html"><span>Boxed Versihon</span></a></li>
                                   <li><a href="home-1-clothes-full-width.html"><span>Full version</span></a></li>
                               </ul>
                             </div>
                          </li>
                          <li><a href="home-2-furniture.html"><span>Furniture version</span></a></li>
                          <li><a href="home-3-bookstore.html"><span>Bookstore version</span></a></li>
                          <li><a href="home-4-electronics.html"><span>Electronics version</span></a></li>
            <li><a href="home-5-flower.html"><span>Flower version</span></a></li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                 <a href="#"><span><i class="icon-user"></i>Pages</span></a>
                 <div class="sub-nav full padding">
                    <div class="row">
                       <div class="col-md-3">
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="basicPage"><span>Basic Page</span></a></li>
                             <li><a href="blog.html"><span>Blog Page</span></a></li>
                             <li><a href="category"><span>Category Page</span></a></li>
                             <li><a href="account.html"><span>Account Page</span></a></li>
                             <li><a href="coming-soon.html"><span>Coming Soon Page</span></a></li>
                          </ul>
                       </div>
                       <div class="col-md-3">
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="contact.html"><span>Contact Page</span></a></li>
                             <li><a href="email_template.html"><span>Email Template Page</span></a></li>
                             <li><a href="login_register.html"><span>Login Register Page</span></a></li>
                             <li><a href="order-complete.html"><span>Order Complete Page</span></a></li>
                             <li><a href="order-history.html"><span>Order History</span></a></li>

                          </ul>
                       </div>
                       <div class="col-md-3">
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="shopping-cart.html"><span>Shopping Cart Page</span></a></li>
                             <li><a href="shortcodes.html"><span>Shortcodes Page</span></a></li>
                             <li><a href="single-blog.html"><span>Single Blog Page</span></a></li>
                             <li><a href="wishlist.html"><span>Wishlist Page</span></a></li>
                          </ul>
                       </div>
                       <div class="col-md-3">
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="product-page.html"><span>Product Page</span></a></li>
                             <li><a href="review_page.html"><span>Review Page</span></a></li>
             <li><a href="checkout.html"><span>Checkout Page</span></a></li>
                             <li><a href="compare.html"><span>Compare Page</span></a></li>
             <li><a href="404.html"><span>404 Page</span></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </li>
              <li class="nav-item">
                 <a routerLink="/category/women" routerLinkActive="active-link"><span><i class="icon-user-female"></i> Women</span></a>
                 <div class="sub-nav full padding">
                    <div class="row">
                       <div class="col-md-3">
                          <h3 class="sub-nav-title">Jackets</h3>
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a routerLink="/category/women/Shirts"><span>Shirts</span></a></li>
                             <li><a href="category"><span>Jumper & Cardigans</span></a></li>
                             <li><a href="category"><span>Autumn Jackets</span></a></li>
                             <li><a href="category"><span>Winter Jackets</span></a></li>
                             <li><a href="category"><span>Leather Jackets</span></a></li>
                             <li><a routerLink="/category/women/Jeans"><span>Jeans</span></a></li>
                             <li><a routerLink="/category/women/Dresses"><span>Dresses</span></a></li>
                          </ul>
                       </div>
                       <div class="col-md-3">
                          <h3 class="sub-nav-title">ACCESSORIES</h3>
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="category"><span>Dresses</span></a></li>
                             <li><a href="category"><span>Suits</span></a></li>
                             <li><a href="category"><span>Glasses</span></a></li>
                             <li><a href="category"><span>Leather Jackets</span></a></li>
                             <li><a href="category"><span>Jeans</span></a></li>
                             <li><a href="category"><span>Shoes</span></a></li>
                          </ul>
                       </div>
                       <div class="col-md-3">
                          <h3 class="sub-nav-title">SHOES</h3>
                          <ul class="sub-nav-group sub-nav-grey">
                             <li><a href="category"><span>Shoes</span></a></li>
                             <li><a href="category"><span>Shorts</span></a></li>
                             <li><a href="category"><span>Shirts</span></a></li>
                             <li><a href="category"><span>Jeans</span></a></li>
                             <li><a href="category"><span>Leather Jackets</span></a></li>
                             <li><a href="category"><span>Suits & Blazers</span></a></li>
                             <li><a href="category"><span>Shoes</span></a></li>
                          </ul>
                       </div>
                       <div class="col-md-3">
                          <div class="megamenu-popular box-with-pager">
                             <div class="sub-nav-title">
                                Popular products
                             </div>
                             <div>
                                <ul class="vertical-bx-1">
                                   <li>
                                      <a href="product-page.html">
                                         <figure>
                                            <span class="img-cover"><img src="../../assets/images/pr_1-menu.jpg" alt="image name" class="pic"></span>
                                            <figcaption>
                                               <p>Black Bag</p>
                                               <span class="price">$950.00</span>
                                               <span class="old-price">$990.00</span>
                                            </figcaption>
                                         </figure>
                                      </a>
                                   </li>
                                   <li>
                                      <a href="product-page.html">
                                         <figure>
                                            <span class="img-cover"><img src="../../assets/images/pr_2-menu.jpg" alt="image name" class="pic"></span>
                                            <figcaption>
                                               <p>Woman Red Handy Bag</p>
                                               <span class="price">$950.00</span>
                                               <span class="old-price">$990.00</span>
                                            </figcaption>
                                         </figure>
                                      </a>
                                   </li>
                                </ul>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </li>
              <li class="nav-item">
                 <a href="#"><span><i class="icon-screen-desktop"></i> Electronics</span></a>
                 <div class="sub-nav">
                      <ul class="sub-nav-group">
                          <li><a href="account.html"><span>Account</span></a></li>
                          <li><a href="#"><span>New Product</span></a></li>
                          <li><a href="#"><span>Special Product</span></a></li>
                          <li><a href="#"><span>Featured Product</span></a></li>
                          <li><a href="contact.html"><span>Contact</span></a></li>
                          <li><a href="shortcodes.html"><span>Shortcodes</span></a></li>
                          <li class="has-sub-nav">
                             <a href="#"><span>Submenu Left</span></a>
                             <div class="sub-nav left-side">
                                <ul class="sub-nav-group">
                                   <li><a href="account.html"><span>Account</span></a></li>
                                   <li><a href="#"><span>New Product</span></a></li>
                                   <li><a href="#"><span>Special Product</span></a></li>
                                   <li><a href="#"><span>Featured Product</span></a></li>
                                   <li><a href="contact.html"><span>Contact</span></a></li>
                                   <li><a href="shortcodes.html"><span>Shortcodes</span></a></li>
                               </ul>
                             </div>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                 <a href="blog.html"><span><i class="icon-pencil"></i> Blog</span></a>
              </li>
              <li class="nav-item">
                 <a href="coming-soon.html"><span><i class="icon-cup"></i> Popular</span></a>
                 <div class="sub-nav full padding">
                    <div class="megamenu-popular mmp-type-2 box-with-pager">
                       <ul class="vertical-bx-1">
                          <li>
                             <div class="row">
                                <div class="col-md-3">
                                   <a href="product-page.html">
                                      <figure>
                                         <span class="img-cover"><img src="../../assets/images/pr_1.jpg" alt="image name" class="pic"></span>
                                         <figcaption>
                                            <p>Woman Red Handy Bag</p>
                                            <span class="price">$950.00</span>
                                            <span class="old-price">$990.00</span>
                                         </figcaption>
                                      </figure>
                                   </a>
                                </div>
                                <div class="col-md-3">
                                   <a href="product-page.html">
                                      <figure>
                                         <span class="img-cover"><img src="../../assets/images/pr_2.jpg" alt="image name" class="pic"></span>
                                         <figcaption>
                                            <p>Woman Red Handy Bag</p>
                                            <span class="price">$950.00</span>
                                            <span class="old-price">$990.00</span>
                                         </figcaption>
                                      </figure>
                                   </a>
                                </div>
                                <div class="col-md-3">
                                   <a href="product-page.html">
                                      <figure>
                                         <span class="img-cover"><img src="../../assets/images/pr_3.jpg" alt="image name" class="pic"></span>
                                         <figcaption>
                                            <p>Woman Red Handy Bag</p>
                                            <span class="price">$950.00</span>
                                            <span class="old-price">$990.00</span>
                                         </figcaption>
                                      </figure>
                                   </a>
                                </div>
                                <div class="col-md-3">
                                   <a href="product-page.html">
                                      <figure>
                                         <span class="img-cover"><img src="../../assets/images/pr_4.jpg" alt="image name" class="pic"></span>
                                         <figcaption>
                                            <p>Woman Red Handy Bag</p>
                                            <span class="price">$950.00</span>
                                            <span class="old-price">$990.00</span>
                                         </figcaption>
                                      </figure>
                                   </a>
                                </div>
                             </div>
                          </li>
                       </ul>
                    </div>
                    <div class="row">
                       <div class="col-md-4">
                          <a href="blog.html" class="img-fade-hover">
                             <img src="../../assets/images/megamenu-btm1.jpg" alt="">
                          </a>
                       </div>
                       <div class="col-md-4">
                          <a href="blog.html" class="img-fade-hover">
                             <img src="../../assets/images/megamenu-btm2.jpg" alt="">
                          </a>
                       </div>
                       <div class="col-md-4">
                          <a href="blog.html" class="img-fade-hover">
                             <img src="../../assets/images/megamenu-btm3.jpg" alt="">
                          </a>
                       </div>
                    </div>
                 </div>
              </li>
              <li class="nav-item">
                 <a href="contact.html"><span><i class="icon-call-in"></i> Contact Us</span></a>
              </li>
              <li class="nav-item">
                 <a href="category"><span><i class="icon-wallet"></i> Sale</span></a>
              </li>
           </ul>
        </nav>
     </div>
  </div>
  <!-- main menu end -->
  <!-- mobile menu begin -->
  <div class="mobile-menu">
     <nav>
        <div class="mobile-menu-button">
           MENU
           <a href="#" class="mobile-menu-toggler"><span></span><span></span><span></span></a>
        </div>
        <div class="mobile-menu-body">
           <div class="mobile-menu-search clearfix">
              <form action="/">
                 <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default"><i class="icon-magnifier"></i></button>
              </form>
           </div>
           <ul>
              <li><a href="#"><i class="icon-home"></i> Home</a></li>
              <li>
                 <a href="#"><i class="icon-user"></i> Men</a>
                 <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                 <ul>
                    <li><a href="#"><span>Shirts</span></a></li>
                    <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                    <li><a href="#"><span>Autumn Jackets</span></a></li>
                    <li><a href="#"><span>Winter Jackets</span></a></li>
                    <li><a href="#"><span>Leather Jackets</span></a></li>
                    <li><a href="#"><span>Jeans</span></a></li>
                    <li><a href="#"><span>Shoes</span></a></li>
                 </ul>
              </li>
              <li>
                 <a href="#"><i class="icon-user-female"></i> Women</a>
                 <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                 <ul>
                    <li><a href="#"><span>Shirts</span></a></li>
                    <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                    <li><a href="#"><span>Autumn Jackets</span></a></li>
                    <li><a href="#"><span>Winter Jackets</span></a></li>
                    <li><a href="#"><span>Leather Jackets</span></a></li>
                    <li><a href="#"><span>Jeans</span></a></li>
                    <li><a href="#"><span>Shoes</span></a></li>
                 </ul>
              </li>
              <li>
                 <a href="#"><i class="icon-screen-desktop"></i> Electronics</a>
                 <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                 <ul>
                    <li><a href="#"><span>Shirts</span></a></li>
                    <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                    <li><a href="#"><span>Autumn Jackets</span></a></li>
                    <li><a href="#"><span>Winter Jackets</span></a></li>
                    <li><a href="#"><span>Leather Jackets</span></a></li>
                    <li><a href="#"><span>Jeans</span></a></li>
                    <li><a href="#"><span>Shoes</span></a></li>
                 </ul>
              </li>
           </ul>
           <p><i class="icon-call-in"></i> + 1 (800) 2364 332 23 16</p>
           <p><i class="icon-envelope"></i>your@email.com</p>
        </div>
     </nav>
  </div>
  <!-- mobile menu end -->
</header>
