<div class="pg-body">
  <div class="container">
     <div class="row">
        <div class="page-404">
           <h1>404</h1>
           <h5>PAGE NOT FOUND</h5>
           <p>You can go to <a href="#">homepage</a> or search what are you looking</p>
           <form action="/">
              <div class="required form-group search col-sm-9 col-xs-12">
                 <input type="text" class="placeholder-fix" placeholder="Enter your text">
                 <i class="icon-magnifier field-icon"></i>
              </div>
              <div class="col-sm-3 col-xs-12">
                    <input type="submit" class="btn btn-third-col" value="search">
              </div>
           </form>
        </div>
     </div>
     <section>
        <div class="best-product">
        <div class="col-xs-12"><h6>BEST PRODUCTS OF THE WEEK</h6></div>
           <div class="gap-70"></div>
           <div class="products-list pl-carousel">
              <ul class="pl-pages">
                 <li class="active">
                    <div class="row">
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="modal" data-tooltip title="Quick View" data-target="#qview"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/1.jpg" alt="">
                             </a>
                             <span class="pl-badge">NEW</span>

                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old">$ 950.00</span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating stars-4"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/2.jpg" alt="">
                             </a>
                             <span class="pl-badge">- 50%</span>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                               <a href="#" class="pl-button pl-qview" data-toggle="modal" data-tooltip title="Quick View" data-target="#qview2"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/3.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/4.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                    </div>
                 </li>
                 <li>
                    <div class="row">
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/5.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/6.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/7.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/products/thumbs/8.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                    </div>
                 </li>
                 <li>
                    <div class="row">
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/../../assets/images/productss/thumbs/2.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/1.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old">$ 950.00</span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating stars-4"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/4.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/5.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                    </div>
                 </li>
                 <li>
                    <div class="row">
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/6.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/7.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                        <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/3.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                       <div class="col-md-3 col-sm-6 pl-item">
                          <figure>
                             <a href="product-page.html">
                                <img src="../../assets/images/products/thumbs/8.jpg" alt="">
                             </a>
                             <figcaption>
                                <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag"></i></a>
                                <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a>
                                <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="Compare"><i class="arrow_left-right_alt"></i></a>
                                <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wish List"><i class="icon-heart"></i></a>
                             </figcaption>
                          </figure>
                          <div class="pl-caption">
                             <p class="pl-price-block">
                                <span class="pl-price-old"></span>
                                <span class="pl-price">$ 900.00</span>
                             </p>
                             <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
                             <span class="stars-rating"><span class="stars"></span></span>
                          </div>
                       </div>
                    </div>
                 </li>
              </ul>
              <div class="pl-controls">
                 <a href="#" class="pl-ctl-left"></a>
                 <a href="#" class="pl-ctl-right"></a>
              </div>
           </div>
        </div>
     </section>
     <div class="row subscribe">
        <div class="col-md-6 col-sm-12"><h3><span class="icon-envelope"></span>SUBSCRIBE FOR OUR NEWSLETTER</h3></div>
        <div class="col-md-6 col-sm-12"><form action="/">
              <div class="required form-group search col-sm-8 col-xs-12">
                 <input type="text" class="placeholder-fix" placeholder="Enter your e-mail adress">
              </div>
              <div class="col-sm-4 col-xs-12">
                    <input type="submit" class="btn btn-sec-col" value="SUBSCRIBE">
              </div>
           </form></div>
     </div>
  </div>
</div>
