
<!-- page body content begin -->
<div class="pg-body">
  <div class="container">
    <div class="gap-70 hidden-xs"></div>
    <div class="row">
      <div class="col-md-9 col-md-push-3 cat-content">
        <a href="#"><img src="../../assets/images/category/banner.jpg" alt=""></a>

        <div class="cat-view-options">
          <div class="row">


            <div class="col-md-3 col-lg-4 text-right">
              <label class="cvo-label">View</label>
              <div class="cvo-view-type" role="tablist">
                <ul class="list-inline">
                  <li class="active">
                    <a href="#pl-grid" role="tab" data-toggle="tab" class="cvo-grid">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           width="14px" height="14px" viewBox="0 0 50 50" xml:space="preserve">
                                       <rect x="0" y="0" width="20" height="20"/>
                        <rect x="30" y="0" width="20" height="20"/>
                        <rect x="0" y="30" width="20" height="20"/>
                        <rect x="30" y="30" width="20" height="20"/>
                                    </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#pl-list" role="tab" data-toggle="tab" class="cvo-list">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           width="14px" height="14px" viewBox="0 0 30.263 25.6" xml:space="preserve"
                      >
                                       <rect width="7.732" height="6.398"/>
                        <rect y="9.6" width="7.732" height="6.4"/>
                        <rect y="19.199" width="7.732" height="6.398"/>
                        <rect x="10.933" y="9.602" width="19.33" height="6.4"/>
                        <rect x="10.933" y="19.199" width="19.33" height="6.4"/>
                        <rect x="10.933" width="19.33" height="6.4"/>
                                    </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- cat-view-options -->

        <div class="cat-pagination">
          <div class="row">
            <div *ngIf="totalProducts" class="col-sm-6">
              Items {{startingIndex}} to {{endIndex}} of {{totalProducts}} total
            </div>
            <div class="col-sm-6 text-right">
              <ul class="pagination">
                <li [ngClass]="{'active': activePage == i+1}" *ngFor="let item of [].constructor(numOfPages); let i = index"><a role="button" (click)="pagination($event)">{{i+1}}</a></li>
                <!-- <li><a role="button" (click)="pagination($event)"><i class="arrow_carrot-right"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>


        <div class="tab-content tab-no-style">
          <div class="tab-pane fade in active" id="pl-grid">
            <div class="products-list">
              <div class="row">
                <div class="row">
                  <div class="col-md-4 col-sm-6 pl-item" *ngFor="let product of products">
                    <div class="card p-2" style="cursor: pointer;"  [routerLink]="['/product', product.productId]">
                      <img [src]="product.images[0]" id="productImg" alt="{{ product.productName }}" />
                      <div class="card-body p-2">
                        <p class="pl-price-block">
                          <span class="pl-price-old"></span>
                          <span class="pl-price">$ {{ product.price }}</span>
                        </p>
                        <p class="pl-name">{{ product.productName }}</p>
                        <span class="stars-rating"><span class="stars"></span></span>
                        <!-- <h6 class="card-title">{{ product.productName }}</h6>
                        <p class="card-text">Rs. {{ product.price }}</p> -->
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div> <!-- grid list -->
          <div class="tab-pane fade" id="pl-list">
            <div class="products-listview">



              <div class="plv-item">
                <div class="row no-gutter">
                  <div class="col-sm-4 plv-image">
                    <figure>
                      <a href="#" class="plv-w-backside">
                        <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                        <span class="plv-backside">
                          <img src="../../assets/images/products/thumbs/1.jpg" alt="">
                        </span>
                      </a>
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <div class="plv-body">
                      <div class="plv-header">
                        <div class="row">
                          <div class="col-xs-6 plv-title"><a href="#">American Colleget</a></div>
                          <div class="col-xs-6 plv-availability"><span class="plva-label">Availability:</span> <i class="dot-green"></i> <span>In Stock</span></div>
                        </div>
                      </div>
                      <div class="plv-price-block">
                        <div class="plv-price">$800.00</div>
                        <span class="stars-rating stars-3"><span class="stars"></span></span>
                        <div class="plv-reviews-count">20 Review(s)</div>
                        <div class="plv-add-review"><a href="#">Add Review</a></div>
                      </div>
                      <div class="plv-exerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua commodo consequat cillum incidunt.
                      </div>
                      <div class="plv-buttons">
                        <a href="#" class="btn btn-sec-col"><i class="icon-bag"></i> Add to Cart</a>
                        <a href="#" class="btn btn-prim-col"><i class="icon-heart"></i> Add to Wishlist</a>
                        <a href="#" class="btn btn-prim-col"><i class="arrow_left-right_alt"></i> Add to Compare</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div> <!-- plv-item -->

              <div class="plv-item">
                <div class="row no-gutter">
                  <div class="col-sm-4 plv-image">
                    <figure>
                      <a href="#" class="plv-w-backside">
                        <img src="../../assets/images/products/thumbs/3.jpg" alt="">
                        <span class="plv-backside">
                                          <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                                       </span>
                      </a>
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <div class="plv-body">
                      <div class="plv-header">
                        <div class="row">
                          <div class="col-xs-6 plv-title"><a href="#">American Colleget</a></div>
                          <div class="col-xs-6 plv-availability"><span class="plva-label">Availability:</span> <i class="dot-green"></i> <span>In Stock</span></div>
                        </div>
                      </div>
                      <div class="plv-price-block">
                        <div class="plv-price">$800.00</div>
                        <span class="stars-rating stars-3"><span class="stars"></span></span>
                        <div class="plv-reviews-count">20 Review(s)</div>
                        <div class="plv-add-review"><a href="#">Add Review</a></div>
                      </div>
                      <div class="plv-exerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua commodo consequat cillum incidunt.
                      </div>
                      <div class="plv-buttons">
                        <a href="#" class="btn btn-sec-col"><i class="icon-bag"></i> Add to Cart</a>
                        <a href="#" class="btn btn-prim-col"><i class="icon-heart"></i> Add to Wishlist</a>
                        <a href="#" class="btn btn-prim-col"><i class="arrow_left-right_alt"></i> Add to Compare</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div> <!-- plv-item -->

              <div class="plv-item">
                <div class="row no-gutter">
                  <div class="col-sm-4 plv-image">
                    <figure>
                      <a href="#" class="plv-w-backside">
                        <img src="../../assets/images/products/thumbs/4.jpg" alt="">
                        <span class="plv-backside">
                                          <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                                       </span>
                      </a>
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <div class="plv-body">
                      <div class="plv-header">
                        <div class="row">
                          <div class="col-xs-6 plv-title"><a href="#">American Colleget</a></div>
                          <div class="col-xs-6 plv-availability"><span class="plva-label">Availability:</span> <i class="dot-green"></i> <span>In Stock</span></div>
                        </div>
                      </div>
                      <div class="plv-price-block">
                        <div class="plv-price">$800.00</div>
                        <span class="stars-rating stars-3"><span class="stars"></span></span>
                        <div class="plv-reviews-count">20 Review(s)</div>
                        <div class="plv-add-review"><a href="#">Add Review</a></div>
                      </div>
                      <div class="plv-exerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua commodo consequat cillum incidunt.
                      </div>
                      <div class="plv-buttons">
                        <a href="#" class="btn btn-sec-col"><i class="icon-bag"></i> Add to Cart</a>
                        <a href="#" class="btn btn-prim-col"><i class="icon-heart"></i> Add to Wishlist</a>
                        <a href="#" class="btn btn-prim-col"><i class="arrow_left-right_alt"></i> Add to Compare</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div> <!-- plv-item -->

              <div class="plv-item">
                <div class="row no-gutter">
                  <div class="col-sm-4 plv-image">
                    <figure>
                      <a href="#" class="plv-w-backside">
                        <img src="../../assets/images/products/thumbs/5.jpg" alt="">
                        <span class="plv-backside">
                                          <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                                       </span>
                      </a>
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <div class="plv-body">
                      <div class="plv-header">
                        <div class="row">
                          <div class="col-xs-6 plv-title"><a href="#">American Colleget</a></div>
                          <div class="col-xs-6 plv-availability"><span class="plva-label">Availability:</span> <i class="dot-green"></i> <span>In Stock</span></div>
                        </div>
                      </div>
                      <div class="plv-price-block">
                        <div class="plv-price">$800.00</div>
                        <span class="stars-rating stars-3"><span class="stars"></span></span>
                        <div class="plv-reviews-count">20 Review(s)</div>
                        <div class="plv-add-review"><a href="#">Add Review</a></div>
                      </div>
                      <div class="plv-exerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua commodo consequat cillum incidunt.
                      </div>
                      <div class="plv-buttons">
                        <a href="#" class="btn btn-sec-col"><i class="icon-bag"></i> Add to Cart</a>
                        <a href="#" class="btn btn-prim-col"><i class="icon-heart"></i> Add to Wishlist</a>
                        <a href="#" class="btn btn-prim-col"><i class="arrow_left-right_alt"></i> Add to Compare</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div> <!-- plv-item -->

              <div class="plv-item">
                <div class="row no-gutter">
                  <div class="col-sm-4 plv-image">
                    <figure>
                      <a href="#" class="plv-w-backside">
                        <img src="../../assets/images/products/thumbs/6.jpg" alt="">
                        <span class="plv-backside">
                                          <img src="../../assets/images/products/thumbs/2.jpg" alt="">
                                       </span>
                      </a>
                    </figure>
                  </div>
                  <div class="col-sm-8">
                    <div class="plv-body">
                      <div class="plv-header">
                        <div class="row">
                          <div class="col-xs-6 plv-title"><a href="#">American Colleget</a></div>
                          <div class="col-xs-6 plv-availability"><span class="plva-label">Availability:</span> <i class="dot-green"></i> <span>In Stock</span></div>
                        </div>
                      </div>
                      <div class="plv-price-block">
                        <div class="plv-price">$800.00</div>
                        <span class="stars-rating stars-3"><span class="stars"></span></span>
                        <div class="plv-reviews-count">20 Review(s)</div>
                        <div class="plv-add-review"><a href="#">Add Review</a></div>
                      </div>
                      <div class="plv-exerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua commodo consequat cillum incidunt.
                      </div>
                      <div class="plv-buttons">
                        <a href="#" class="btn btn-sec-col"><i class="icon-bag"></i> Add to Cart</a>
                        <a href="#" class="btn btn-prim-col"><i class="icon-heart"></i> Add to Wishlist</a>
                        <a href="#" class="btn btn-prim-col"><i class="arrow_left-right_alt"></i> Add to Compare</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div> <!-- plv-item -->

            </div> <!-- products-listview -->
          </div> <!-- tab pl-list -->
        </div>

        <div class="cat-view-options">
          <div class="row">

            <div class="col-md-3 col-lg-4 text-right">
              <label class="cvo-label">View</label>
              <div class="cvo-view-type" role="tablist">
                <ul class="list-inline">
                  <li class="active">
                    <a href="#pl-grid" role="tab" data-toggle="tab" class="cvo-grid">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           width="14px" height="14px" viewBox="0 0 50 50" xml:space="preserve">
                                       <rect x="0" y="0" width="20" height="20"/>
                        <rect x="30" y="0" width="20" height="20"/>
                        <rect x="0" y="30" width="20" height="20"/>
                        <rect x="30" y="30" width="20" height="20"/>
                                    </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#pl-list" role="tab" data-toggle="tab" class="cvo-list">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           width="14px" height="14px" viewBox="0 0 30.263 25.6" xml:space="preserve"
                      >
                                       <rect width="7.732" height="6.398"/>
                        <rect y="9.6" width="7.732" height="6.4"/>
                        <rect y="19.199" width="7.732" height="6.398"/>
                        <rect x="10.933" y="9.602" width="19.33" height="6.4"/>
                        <rect x="10.933" y="19.199" width="19.33" height="6.4"/>
                        <rect x="10.933" width="19.33" height="6.4"/>
                                    </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- cat-view-options -->

        <div class="cat-pagination">
          <div class="row">
            <div *ngIf="totalProducts" class="col-sm-6">
              Items {{startingIndex}} to {{endIndex}} of {{totalProducts}} total
            </div>
            <div class="col-sm-6 text-right">
              <ul class="pagination">
                <li *ngFor="let item of [].constructor(numOfPages); let i = index" [ngClass]="{'active': activePage == i+1 }" ><a role="button" (click)="pagination($event)">{{i+1}}</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div> <!-- cat-content -->
      <div class="col-md-3 col-md-pull-9 cat-sidebar">
        <aside>

          <div class="widget wg-categories">
            <h3 class="wg-title">Categories</h3>
            <div class="wg-body">
              <ul class="wg-categories-list">
                <div *ngFor="let obj of facets | keyvalue">
                  <span class="vertical-filters-header">{{obj.key}}</span>
                  <div class="wg-body" *ngFor="let facet of obj.value">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [checked]="onCheckFilterActive(facet.name)" (change)="searchByFacets(obj.key, facet.name, $event)"  />
                    <span *ngIf="obj.key === 'COLOR'" class="colour-colorDisplay" style="background-color: {{facet.name}}"></span>
                    <div class="custom-control-label" >{{facet.name}}
                      <span class="brand-num">
                        ({{facet.quantity}})
                      </span> </div>
                  </label>
                </div>
              </div>
              </ul>
            </div>
          </div> <!-- widget -->






          <div class="widget wg-viwed-products box-with-pager mobile-collapse">
            <h3 class="wg-title mobile-collapse-header">Viewed Products</h3>
            <div class="wg-body mobile-collapse-body">
              <ul class="wgvp-list">
                <li class="wgvp-item">
                  <a href="#">
                    <figure>
                      <img src="../../assets/images/products/thumbs-mini/1.jpg" alt="">
                    </figure>
                  </a>
                  <div class="wgvp-item-body">
                    <p class="wgvp-item-title"><a href="#">Majestic Beecroft</a></p>
                    <p class="wgvp-item-price">$900.00</p>
                  </div>
                </li>
                <li class="wgvp-item">
                  <a href="#">
                    <figure>
                      <img src="../../assets/images/products/thumbs-mini/2.jpg" alt="">
                    </figure>
                  </a>
                  <div class="wgvp-item-body">
                    <p class="wgvp-item-title"><a href="#">Henri Lloyd Carlson</a></p>
                    <p class="wgvp-item-price">$800.00</p>
                  </div>
                </li>
                <li class="wgvp-item">
                  <a href="#">
                    <figure>
                      <img src="../../assets/images/products/thumbs-mini/3.jpg" alt="">
                    </figure>
                  </a>
                  <div class="wgvp-item-body">
                    <p class="wgvp-item-title"><a href="#">Adidas Sport j Adidas</a></p>
                    <p class="wgvp-item-price">$750.00</p>
                  </div>
                </li>
              </ul>
            </div>
          </div> <!-- widget -->

          <div class="widget wg-our-stores box-with-pager mobile-collapse">
            <h3 class="wg-title mobile-collapse-header">Our Stores</h3>
            <div class="wg-body mobile-collapse-body">
              <div id="carousel-our-stores" class="carousel slide no-bullets" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../../assets/images/stores/1.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../assets/images/stores/1.jpg" alt="">
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-our-stores" role="button" data-slide="prev">
                  <i class="arrow_carrot-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-our-stores" role="button" data-slide="next">
                  <i class="arrow_carrot-right"></i>
                </a>
              </div>

              <div class="wgos-discover">
                <a href="#" class="btn btn-sm btn-third-col arrow-button">DISCOVER OUR STORE</a>
              </div>
            </div>
          </div> <!-- widget -->

          <div class="widget wg-links mobile-collapse">
            <h3 class="wg-title mobile-collapse-header">Information</h3>
            <div class="wg-body mobile-collapse-body">
              <ul class="wg-links-list">
                <li><a href="#">About Us</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Free Shipping</a></li>
                <li><a href="#">Clother</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Disconunts</a></li>
              </ul>
            </div>
          </div> <!-- widget -->

          <div class="widget">
            <div class="wg-body">
              <div id="carousel-banner" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-banner" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../../assets/images/banner1.jpg" alt="">
                  </div>
                  <div class="item">
                    <img src="../../assets/images/banner1.jpg" alt="">
                  </div>
                </div>

              </div>
            </div>
          </div> <!-- widget -->

        </aside>
      </div> <!-- sidebar -->
    </div>
    <div class="gap-70"></div>
  </div> <!-- container -->
</div> <!-- pg-body -->




