#productHeader,
#quantity {
    margin: 0 0 3px 10px;
}

#productImg {
    max-height: 100%;
    width: 100%;
    max-height: 400px;
    width: auto;
    object-fit: contain;
}
.prod {
  margin: 0 0 10px 0;
}
